<form (ngSubmit)="onQuery()">
  <label>出发地：<input name="name" [formControl]="queryParams.startPlace" type="text"/></label>
  &nbsp;
  <label>目的地：<input name="no" [formControl]="queryParams.endPlace" type="text"/></label>
  &nbsp;
  <button type="submit" class="btn btn-info btn-sm"><i class="fas fa-search"></i>查询</button>
  &nbsp;
  <button class="btn btn-sm btn-warning" (click)="clear()">
    <i class="fas fa-trash-alt"></i>
    清空
  </button>
</form>

<table class="table table-striped table-bordered mt-2">
  <thead class="thead-light">
  <tr>
    <th scope="col">序号</th>
    <th scope="col">货物名称</th>
    <th scope="col">货物类别</th>
    <th scope="col">运输起点</th>
    <th scope="col">运输目的地</th>
    <th scope="col">运费(单位：元)</th>
    <th scope="col">发布人</th>
    <th scope="col">发布时间</th>
    <th scope="col">操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of orders.content; let $index = index;">
    <td>{{$index + 1}}</td>
    <td>{{order.goodsName}}</td>
    <td>{{order?.goods?.name}}</td>
    <td>{{order.startPlace}}</td>
    <td>{{order.endPlace}}</td>
    <td>{{order.freight}}</td>
    <td>{{order.owner.user.name}}</td>
    <td>{{order.startTime |  date:"yyyy/MM/dd HH:mm:ss" }}</td>
    <td>
      <button type="button" class="btn btn-info btn-sm" (click)="college(order)">
        <i class="fas fa-luggage-cart"></i>
        揽收
      </button>
    </td>
  </tr>
  </tbody>
</table>
<app-page *ngIf="orders.totalPages != 0" [setTotalPages]="orders.totalPages" [setPage]="params.page" [setSize]="params.size" (selectedPage)="onPageSelected($event)" (selectedSize)="onSizeSelected($event)"></app-page>

