<div class="header">
  <div class="row m-0">
    <div class="col-md-3 offset-md-2">
      <p class="title"><b>欢迎使用本系统!</b></p>
    </div>
  </div>
</div>

<div class="content">
  <div class="row m-0 pt-5">
    <div class="col-md-2 offset-md-8 mt-2 pl-3 pr-3 pt-4 pb-4 bg-white">
      <div class="row">
        <div class="col-md-6 border-right">
          <h6 class="text-center" [ngClass]="{'text-success font-weight-bolder' : mode === 'login'}">
            <a href="javascript:void(0);" (click)="changeToLogin()" class="text-reset text-decoration-none">登录</a>
          </h6>
        </div>
        <div class="col-md-6">
          <h6 class="text-center" [ngClass]="{'text-success font-weight-bolder' : mode === 'register'}">
            <a href="javascript:void(0);" (click)="changeToRegister()"
               class="text-reset text-decoration-none">用户注册</a>
          </h6>
        </div>
      </div>

      <hr>

      <form [formGroup]="loginForm" (ngSubmit)="login()" *ngIf="mode === 'login'">
        <div class="form-group">
          <label for="username">手机号<code>*</code></label>
          <input class="form-control" id="username" placeholder="请输入手机号" formControlName="username"/>
        </div>
        <div class="form-group">
          <label for="password">密码<code>*</code></label>
          <input type="password" class="form-control" id="password" placeholder="请输入密码" formControlName="password"/>
        </div>
        <hr>
        <button type="submit" class="btn form-control login-button">
          登录
        </button>
      </form>


      <form>
        <h2 style="text-align: center" *ngIf="mode === 'register'"> 欢迎使用</h2>
        <h2 style="text-align: center" *ngIf="mode === 'register'">物流运输系统</h2>
        <button class="btn btn-primary btn-block" (click)="changeToDriverRegister()" *ngIf="mode === 'register'">
          司机注册
        </button>
        <button class="btn btn-primary btn-block" (click)="changeToOwnerRegister()" *ngIf="mode === 'register'">
          货主注册
        </button>
      </form>


      <form [formGroup]="driverRegisterForm" (ngSubmit)="driverRegister()" *ngIf="mode === 'driverRegister'">
        <div class="form-group">
          <label for="register-name">
            <small>姓名<code>*</code></small>
          </label>
          <input class="form-control form-control-sm" id="register-name" placeholder="请输入姓名" formControlName="name"/>
        </div>

        <div class="form-group">
          <label for="register-username">
            <small>手机号<code>*</code></small>
          </label>
          <input class="form-control form-control-sm" id="register-username" placeholder="请输入手机号" formControlName="phone"/>
        </div>

        <div class="form-group">
          <label for="car">
            <small>车牌号<code>*</code></small>
          </label>
          <input class="form-control form-control-sm" id="car" placeholder="请输入车牌号" formControlName="licensePlateNumber"/>
        </div>

        <div class="form-group">
          <label for="register-password">
            <small>密码<code>*</code></small>
          </label>
          <input type="password" class="form-control form-control-sm" id="register-password" placeholder="请输入密码"
                 formControlName="password"/>
        </div>
        <hr>
        <button type="submit"
                class="btn btn-success form-control form-control-sm">
          注册
        </button>
      </form>




      <form [formGroup]="ownerRegisterForm" (ngSubmit)="ownerRegister()" *ngIf="mode === 'ownerRegister'">
        <div class="form-group">
          <label for="owner-name">
            <small>姓名：<code>*</code></small>
          </label>
          <input class="form-control form-control-sm" id="owner-name" placeholder="请输入姓名" formControlName="name"/>
        </div>

        <div class="form-group">
          <label for="owner-username">
            <small>手机号<code>*</code></small>
          </label>
          <input class="form-control form-control-sm" id="owner-username" placeholder="请输入手机号" formControlName="phone"/>
        </div>

        <div class="form-group">
          <label for="owner-address">
            <small>住址<code>*</code></small>
          </label>
          <input class="form-control form-control-sm" id="owner-address" placeholder="请输入住址" formControlName="address"/>
        </div>

        <div class="form-group">
          <label for="register-password">
            <small>密码<code>*</code></small>
          </label>
          <input type="password" class="form-control form-control-sm" id="owner-password" placeholder="请输入密码"
                 formControlName="password"/>
        </div>
        <hr>
        <button type="submit"
                class="btn btn-success form-control form-control-sm">
          注册
        </button>
      </form>
    </div>
  </div>
</div>

<div class="footer">
  <div class="row">
    <div class="col text-center">
      <small>©{{year}} 河北工业大学 版本号:V{{version}}</small>
    </div>
  </div>
</div>
